@charset "utf-8";
body,ul,h1,h2{
    margin: 0;
    padding: 0;
}
.page{
    position: absolute;
    top: 0;
    bottom:0;
    padding-top:200px;
    text-align:center;
    width: 100%;
}
.page h1{
    font-size: 60px;
}
.page a{
    margin-top:150px;
}
.hello{
    background-color: #00D0BC;
    color: #fff;
}
.list{
    background-color:#E59400;
    color: #fff;
}
.list li {
    list-style: none;
}

@keyframes rotateFall {
    0%{
        transform:rotateZ(0deg);
    }
    20%{
        transform:rotateZ(10deg);
        animation-timing-function:ease-out;
    }
    40%{
        transform:rotateZ(17deg);
    }
    60%{
        transform:rotateZ(16deg);
    }
    100%{
        transform:rotateZ(17deg) translateY(100%);
    }
}

@keyframes slideOutLeft{
    to{
        transform:translateX(-100%);
    }
}
@keyframes slideInRight{
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(0);
    }
}


@keyframes rotateOut{
    to{
        transform:translateZ(-3000px) rotateZ(360deg);
        opacity:0;
    }
}

@keyframes slideInUp{
    from{
        transform:translateY(100%);
    }
    to{
        transform:translate(0)
    }
}
@keyframes scaleUp{
    from{
        opacity: 0.3;
       -moz-transform: scale(0.8);
       -webkit-transform: scale(0.8);
    }
}


.ng-enter{
    z-index: 8888;
}

.ng-leave{
    z-index:9999;
}

.hello.ng-enter{
    animation: scaleUp 0.5s both ease-in;
}

.hello.ng-leave{
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}

.list.ng-enter{
    animation: slideInRight 0.5s both ease-in;
}
.list.ng-leave{
    animation: rotateOut 0.5s both ease-in;
}


